.nav {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.link {
    padding: 2px;
    margin-left: 10px;
    text-decoration: none;
    color: blue;
    background-color: #fff;
}

.link:hover {
    background-color: blue;
    color: #fff;
}

.doctorsList {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.doctorElement {
    height: 150px;
    max-width: 200px;
    width: 26%;
    border: 1px solid;
    margin-bottom: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.doctorName {
    text-align: center;
    font-size: 10px;
    margin: 5px 5px;
}

.doctorAvatar {
    max-width: 100%;
    width: 100px;
    height: 100px;
}

h1 {
    margin: 10px;
}

h2 {
    margin: 5px;
}

.doctorPage .doctorElement {
    height: auto;
    border: 0;
    width: 100%;
    max-width: 60%;
    margin: 0 auto;
}

.doctorPage .doctorAvatar {
    max-width: 300px;
    min-height: 100px;
}

.buttonMain {
    margin-left: 5px;
    cursor: pointer;
    border-radius: 4px;
    background: green;
    border: 1px solid #fff;
    color: #fff;
    padding: 5px 15px;
    text-decoration: none;
}

.buttonMain:hover {
    background: #fff;
    border: 1px solid green;
    color: green;
}

.timeElementList {
    border: 1px solid #000;
    margin-top: 20px;
}

.timeElement {
    background-color: green;
    border: 1px solid;
    cursor: pointer;
}

.closeTime {
    background-color: red;
    cursor: not-allowed;
}

.historyList {
    margin-top: 10px;
}

.historyElem {
    border: 1px solid;
    padding: 2px;
    margin-bottom: 5px;
}

.formAddHistoryElement {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.formAddHistoryElement label {
    margin-right: 5px;
}

.errors {
    color: red;
}

.formUser input {
    margin-bottom: 10px;
}

.recordUserElement {
    border: 1px solid;
    margin-top: 10px;
    padding: 5px;
}